*,::before,::after{
    box-sizing: border-box;
}

html{
    font: 62.5% "Monospace", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

html,body{
    height: 100%;
}

.nav{
    display: flex;
    justify-content: space-between;
    font-size: 4vh;
    padding: 0.8rem;
}

.nav__brand{
    font-size: 6vh;
    font-weight: 900;
}
.nav__brand, .nav__items{
    display: flex;
}

.nav__tab{
    display: flex;
    align-items: center;
    padding: 0 1em;
    color: inherit;
    text-decoration: none;
}

.nav__tab:hover{
    cursor: pointer;
    background-color: olivedrab;
}

#content{
    display: flex;
    flex: 1 0 auto;
}

.home,.menu,.about,.contact{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home{
    justify-content: center;
    align-items: center;
    font-size: 14vh;
    font-weight: 900;
}
.contact{
    justify-content: center;
    align-items: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    width: 70vh;
    height: 80vh;
    padding: 4em;
    background: white;
    margin: 0 auto;
    border-radius: 0.8rem;
}

.contact-form__title{
    font-size:3.4em;
    font-weight: 700;
    margin-bottom: 1em;
}

.contact-form__textarea{
    height: 20em;
}

.contact-form__input, .contact-form__textarea{
    padding: 1em;
    border-radius: 0.2rem;
}

.contact-form__submit{
    width: 10em;
    padding: 0.8em;
    border-radius: 2em;
}

.contact-form__input + .contact-form__input, .contact-form__textarea, .contact-form__submit {
    margin-top: 1em;
}

.footer{
    display: flex;
    font-size: 1.6em;
    padding: 1rem;
    justify-content: center;
}